<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <label class="block text-sm font-medium mb-1">Registration</label>
      <input class="form-input border p-2 rounded w-full" type="text" placeholder="Registration" formControlName="registrationNumber">
      @if (registrationNumber.invalid && (registrationNumber.touched || registrationNumber.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (registrationNumber.hasError('required')) {
            <div>Registration is required.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Type</label>
      <select class="form-select border p-2 rounded w-full" formControlName="type">
        <option value="" disabled selected>Type</option>
        <option *ngFor="let t of vehicleTypes" [value]="t">{{ t }}</option>
      </select>
      @if (type.invalid && (type.touched || type.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (type.hasError('required')) {
            <div>Type is required.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Brand</label>
      <input class="form-input border p-2 rounded w-full" type="text" placeholder="Brand" formControlName="brand">
      @if (brand.invalid && (brand.touched || brand.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (brand.hasError('required')) {
            <div>Brand is required.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Model</label>
      <input class="form-input border p-2 rounded w-full" type="text" placeholder="Model" formControlName="model">
      @if (model.invalid && (model.touched || model.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (model.hasError('required')) {
            <div>Model is required.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Autonomy (km)</label>
      <input class="form-input border p-2 rounded w-full" type="number" placeholder="Autonomy (km)" formControlName="autonomyKm">
      @if (autonomyKm.invalid && (autonomyKm.touched || autonomyKm.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (autonomyKm.hasError('required')) {
            <div>Autonomy is required.</div>
          }
          @if (autonomyKm.hasError('min')) {
            <div>Autonomy must be at least 1 km.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Current KM</label>
      <input class="form-input border p-2 rounded w-full" type="number" placeholder="Current KM" formControlName="currentKm">
      @if (currentKm.invalid && (currentKm.touched || currentKm.dirty)) {
        <div class="text-red-600 text-xs mt-1">
          @if (currentKm.hasError('required')) {
            <div>Current hm is required.</div>
          }
          @if (currentKm.hasError('min')) {
            <div>Current km must be at least 0 km.</div>
          }
        </div>
      }
    </div>
    <div>
      <label class="block text-sm font-medium mb-1">Is available?</label>

      <div class="flex items-center gap-3">
        <label class="relative inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            formControlName="available"
            class="sr-only peer"
          />
          <div
            class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-500 rounded-full peer peer-checked:bg-green-500 transition-colors duration-300"
          ></div>
          <div
            class="absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full shadow transform transition-transform duration-300 peer-checked:translate-x-5"
          ></div>
        </label>

        <span class="text-sm text-gray-900">{{ available.value ? 'Yes' : 'No' }}</span>
      </div>
    </div>

    <p class="text-xs text-gray-500">Form status: {{ vehicleForm.status }}</p>


  </div>
  <div class="mt-4 flex justify-end">
    <button type="submit"
            [disabled]="vehicleForm.invalid"
            [class.opacity-50]="vehicleForm.invalid"
            [class.cursor-not-allowed]="vehicleForm.invalid"
            class="bg-green-600 hover:bg-green-700 text-white font-medium py-2 px-4 rounded">
      {{ this.vehicle ? 'Update' : 'Add' }}
    </button>
  </div>
</form>
